.header {
   display: flex;
   justify-content: space-between;

   &__nav {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      div {
         align-items: center;
         display: flex;
         gap: 0.5rem;

         a {
            &:hover {
            }
         }

         a:last-child {
         }
      }
   }
}
