.btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    
    width: fit-content;
    padding: 0 1em;
    line-height: 3rem;
    height: 3rem;
    text-align: center;

    border-width: 0.06rem;
    border-style: solid;
    border-radius: 1.5rem;

    color: black;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover, &:active, &:focus {
        background-color: black;
        color: white
    }
}

.btn--header {
    @extend .btn;
    min-width: 9rem;
    font-size: 1.9rem;
    background-color: inherit;
}
